body{
    font-family: cursive;
    text-align: center;
}
#header{
    font-family: cursive;
    font-size: 2em;

}
#checkAge{
    font-family:cursive;
    color: black;
    cursor: pointer;
    size: 2em;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 10px 20px;

}