body{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-align: center;
 
    background-color: #e7e6e6
  
}
form{
  
    font-size: 1.5em;
    text-align: center;
    align-content: center;
}