body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e7e6e6;
    font-size: 2em;
}

form{
    background-color: white;
    text-align: center;
    align-content: center;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
}