body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
#buttons{
    font-size: 3em;
    color: white;
    padding: 10px 20px;
    font-family: cursive;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}
#myLabel{
    font-size: 3em;
    color: black;
    font-family: cursive;
}
#warning{
    font-size: 3em;
    color: black;
    font-family: cursive;
    
}