#countLabel{
 display: block;
 text-align: center;
 font-size: 10em;
font-family: cursive;
} 
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px ;
    font-size: 1.5em;
    font-family: cursive;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s ;
}
.buttons:hover{
    background-color: rgb(111, 2, 2);
}
#warning{
    text-align: center;
    font-size:2em;
    background-color: black;
    font-family: cursive;
}